version: 2.1

jobs:
  checkout_and_unit_test:
    docker:
      - image: cimg/node:15.8.0
    steps:
      - checkout
      - run: echo "ici c'est le checout et le test"

  deploy_backend:
    - run: echo "ici c'est le deploiement du back end"

  integration_tests_backend:
    - run: echo "ici c'est les tests en backend"
  
  deploy_staging:
    - run: echo "ici c'est le deploiement du staging"
  
  acceptance_test1:
    - run: echo "ici c'est le test d'acceptance 1"
  acceptance_test2:
    - run: echo "ici c'est le test d'acceptance 2"
  acceptance_test3:
    - run: echo "ici c'est le test d'acceptance 3"
  acceptance_test4:
    - run: echo "ici c'est le test d'acceptance 4"

  deploy_production:
    - run: echo "ici c'est le deploiement de la production"

workflows:
  build:
    jobs:
      - checkout_and_unit_test
      - deploy_backend:
          requires:
          - checkout_and_unit_test
      - integration_tests_backend:
          requires:
          - deploy_backend
      - deploy_staging:
          requires:
            - integration_tests_backend
      - acceptance_test1:
          requires:
            - deploy_staging
      - acceptance_test2:
          requires:
            - deploy_staging
      - acceptance_test3:
          requires:
            - deploy_staging
      - acceptance_test4:
          requires:
            - deploy_staging
      - deploy_production:
          requires:
            - acceptance_test1
            - acceptance_test2
            - acceptance_test3
            - acceptance_test4
